* {
  font-family: "Roboto", sans-serif !important;
  /* background-color: black; */
}
.mycard {
  margin-top: 50px;
}

.auth-card {
  padding: 20px;
  text-align: center;
  margin: 10px auto;
  max-width: 400px;
}

.auth-card-announcement {
  padding: 20px;
  text-align: center;
  margin: 10px auto;
  max-width: 800px;
}

.three-cards {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}

.icon-card {
  width: 300px;
  text-align: center;
  border-radius: 30%;
}

.add-card {
  margin-top: 50px;
}
.add-card-child {
  padding: 20px;
  text-align: center;
  margin: 10px auto;
  max-width: 800px;
  /* background-color: black; */
}

/* .flex-container {
  display: flex;
} */
.class-card {
  width: 500px;
  text-align: center;
  height: 200px;
  margin: 20px;
  padding: 15px;
  /* background-color: black;
  color: white; */
}

.button-class {
  width: 350px;
  margin: 5px;
}

.admin-announcement {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
}

.profile-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-left: 270px;
}
p {
  font-size: 20px;
  padding: 10px;
  /* color: white; */
}

.header {
  margin: 30px;
  padding: 20px;
}

.header-button {
  padding: 10px;
  margin-right: 100px;
}
