* {
  font-family: "Roboto", sans-serif !important;
}
.mycard {
  margin-top: 50px;
}

.auth-card {
  padding: 20px;
  text-align: center;
  margin: 10px auto;
  max-width: 400px;
}

.three-cards {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}

.icon-card {
  width: 300px;
  text-align: center;
  border-radius: 30%;
}

.add-card {
  margin-top: 50px;
}
.add-card-child {
  padding: 20px;
  text-align: center;
  margin: 10px auto;
  max-width: 800px;
}

/* .flex-container {
  display: flex;
} */
.class-card {
  width: 500px;
  text-align: center;
  height: 200px;
  margin: 20px;
  padding: 15px;
  /* background-color: aqua;
  color: white; */
}

.button-class {
  width: 350px;
  margin: 5px;
}
